html {
  margin: 0 10%;
}

table {
  margin-top: 20px;
  width: 100%;
  border-collapse:collapse;
}

table tr:nth-child(2n) {
  background-color: #ddd;
}

table tr > td {
  padding: 5px;
}

table thead .node-col {
  cursor: pointer;
}

table thead {
  background-color: powderblue;
}

table thead th {
  text-align: left;
}

label {
  display: block;
  margin-bottom: 10px;
}

/* Font Icons */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lo5cwf');
  src:  url('fonts/icomoon.eot?lo5cwf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lo5cwf') format('truetype'),
    url('fonts/icomoon.woff?lo5cwf') format('woff'),
    url('fonts/icomoon.svg?lo5cwf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sort-asc:before {
  content: "\e900";
}
.icon-sort-desc:before {
  content: "\e901";
}
.icon-sort:before {
  content: "\e902";
}
/* End Font Icons */